<footer class="footer">
  <div class="container-fluid">
    <small class="footer-text">
      Site développé par 
      <a href="#" class="link footer-link">fagathe-dev</a>
    </small>
    <small class="footer-text">
      admin.agathefrederick.fr &copy; Copyright {{ 'now'|date('Y') }} , tous droits réservés
    </small>
  </div>
</footer>