{% extends "base.html.twig" %}

{% block body %}
  <h1 class="mb-3">Dashboard</h1>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      <i class="bi bi-newspaper"></i>
      Blog
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="bi bi-files-alt"></i>
      FileType
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="bi bi-people"></i>
      Utilisateurs
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="bi bi-layout-text-window-reverse"></i>
      Contenus
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="bi bi-envelope-at"></i>
      Contacts
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="bi bi-window-stack"></i>
      Projets
    </a>
  </div>
{% endblock %}